@page "/learnBlazor/bindProp"

<h3>Product</h3>
Name : @Product.Name
<br />
Active : @Product.IsActive
Price :@Product.Price
<br />
This Product is :@(Product.IsActive ? "Active" :"Inactive")
<br />
<br />
Active :
<input type="checkbox" @bind="@Product.IsActive" />
<br />
Price :
<input type="number" @bind="@Product.Price" @bind:event="oninput" />
<br />
Property Selected: @selectedProp
<br />
Product Properties:
<select @bind="selectedProp">
    @foreach(var prop in Product.ProductProperties)
    {
        <option value="@prop.Key">@prop.Key</option>
    }
</select><br />

Price :@Product.Price<br />
This Product is :@(Product.IsActive ? "Active" :"Inactive")<br /><br />
Active : <input type="checkbox" @bind="@Product.IsActive"  /><br />
Price : <input type="number" @bind-value="@Product.Price"  @bind-value:event="oninput"/><br />


@code {
    private string selectedProp = "";
    Tangy_Models.LearnBlazorModels.Demo_Product Product = new()
        {
            Id = 1,
            Name = "Rose Candle",
            IsActive = true,
            Price = 10.99,
            ProductProperties = new List<Tangy_Models.LearnBlazorModels.Demo_ProductProp>()
            {
                new Tangy_Models.LearnBlazorModels.Demo_ProductProp { Id = 1, Key="Color", Value="Black"},
                new  Tangy_Models.LearnBlazorModels.Demo_ProductProp { Id = 2,Key="Falvor", Value="Rose Jasmine"},
                new Tangy_Models.LearnBlazorModels.Demo_ProductProp { Id = 3,Key="Size", Value="20oz"},
            }
        };
}
